body
{
	background-size: 100%;
	background-image: url('wood.jpg');
	display: flex;
	flex-direction: column;
}
h2
{
	text-align: center;
	font-family: 'Muli',sans-serif;
	color: white;
}
h3
{
	text-align: center;
	font-family: 'Muli',sans-serif;
	color: white;
}
h4
{
	text-align: center;
	font-family: 'Muli',sans-serif;
	color: white;
}
