@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*
{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root
{
    --primary-color: #22254b;
    --secondary-color: #373b69;
}
.logo
{
    width: 70px;
    height: 70px;
    background-image: url("logo_new.png");
    margin-left: 550px;
    margin-bottom: 50px;

    
}
body
{
    font-family: 'Roboto', sans-serif;
    color: #222;
    padding-bottom:50px;
    background-color:var(--primary-color) ;
    margin: 0;
    
}
.project_icon
{
    padding-top: 30vh;
    padding-left : 45vh;
    height: 10vh;
    width: 70vh;
}
.para1
{
    padding-top: 30vh;
}
.container-2
{
    position:relative;
    /* margin-bottom: 300vh; */
    /* margin-top: 80vh; */
    padding-left: 8vh;
    display:flex;
    padding-top: 40vh;
    flex-direction: column;
    justify-content: space-between;
}
.text1
{
    width: 80vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
}
.icon
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:1000px;
    margin-top: 30vh;
    margin-bottom: 10vh;
    align-items: center;
    justify-content: space-between;
}
.content
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-1
{
    background-color: grey;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    height: 300px;
    width: 300px;
}
.first
{
    height: 300px;
    width: 300px;
    background-color: #fff;
    border-radius: 25px;
}
.para1
{
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30vh;
}
.view
{
    height: 30vh;
    width: 30vh;
    margin-top: 10vh;
    background-color: grey;
    border-radius: 25px;
}
.Carosoul
{
    height: 80vh;
    width:100%;
    background-color: white;
    border-radius: 25px;
}
.hero
{
    background-image: url('HeaderGif2\ \(1\).gif');
    height: 400vh;
    width: 210vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    z-index: -2;
}
.hero::before
{
    content: '';
    position: absolute;    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.hero h1
{
    font-size: 50px;
    margin: -20px 0 20px;
}
.hero p
{
    font-size: 20px;
    letter-spacing: 1px;
}
h1
{
    margin:10px;
}
.box
{
    font-family: 'Muli';
    background-color: grey;
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 200px;
    margin-top:25vh;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    opacity: 10%;
    transition: transform 1s ease
}

.box:nth-of-type(even)
{
    transform: translateX(-200%);
}

.box.show
{
    transform: translateX(0);
}
.box h2
{
    font-size: 45px;;
}
.box-opacity
{
    opacity: 90%;
}
.tile1
{
    background-color: skyblue;
    height: 100px;
    width: 95%;
    margin-top: 100%;
    border-radius: 25px;
    /* position: bottom; */

    align-items: centre;
    justify-content: centre;
}
.contnet1
{
    align-items: center;
    justify-content: center;
}